*
	margin 0px
	padding 0px
@font-face
	font-family  Ai
	src url(../fonts/Aisha.ttf)
body
	background #592f41
	position: relative;
#login
	color #fff
	margin-top 20px
	h1
		font-family Ai
		margin 20px
	section
		margin 4px
	input
		border-radius 0px		
#success
	margin-top 20px
	border-radius 0px
	
#error
	padding 10px
	background #ccc
	border-left 5px solid  #337AB7
	z-index 1000
	a
		text-decoration none
#back-up
	margin-left -50px
	margin-top -20px
	height 45%
	width 200%
	transform rotate(3deg)
	background url('../images/li.jpg')center center fixed
	background-size cover
	z-index -100
	position absolute
#img-login
	margin-top 130px
			
#sesion
	margin-top 1.5em	
	margin-right 20px
	
#head-back
	text-align cente
	padding-top 10px
	background #fff
	height 100px
	
	h1
		font-family Ai
		font-size 5vh
#sesion
	button
		background: #fff!important
		padding 5px
	img
		float left
		width: 42px	
		height:42px	
	span
		height: 27px
		color #000
		margin-top 15px
	label
		margin-top 15px
		margin-right 15px
		color #00A900
				

#menu
	z-index 100000
	background-color #0C1719
	position absolute
	overflow hidden
	height 800%
	width 75px
	-webkit-transition width .5s
	transition width .5s
	margin-left -13px
	li
		text-decoration: none
		list-style-type: none
	i
		transition all .2s ease
		font-size 18px
		padding 10px
		color #4B676F
		padding-left 20px
		span
			font-family sans-serif
			margin-left 30px
			text-align center
#menu li a i:hover
	border-left 5px solid #FF474C
	background #001217
	width: 200%
	color #fff
			
		
#menu:hover
	width 210px
	z-index 10

.img-table
	width: 80px

#myTable
	background #8E9497
	text-align justify
	img
		height: 70px
#myTable_wrapper
	label
		margin-bottom 15px
		select 
			color #000
		input
			color #FFD3FF
			width: 500px
			background #3FB6FF
			margin-right -20px
			border 0px
			border-radius 20px
			height: 30px
			transition all .8s ease
		input:focus
			padding 5px
			border-radius 0px
			background transparent
			border 1px solid #3FB6FF
			
#button-add
	margin-top 40px
	margin-bottom 20px
#reportes
	color: #fff
	font-size 55px
.contenedor-chart
	h2
		color #fff