* {
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: Ai;
  src: url("../fonts/Aisha.ttf");
}
body {
  background: #E0F8F1;
  position: relative;
}
#login {
  color: #fff;
  margin-top: 20px;
}
#login h1 {
  font-family: Ai;
  margin: 20px;
}
#login section {
  margin: 4px;
}
#login input {
  border-radius: 0px;
}
#success {
  margin-top: 20px;
  border-radius: 0px;
}
#error {
  padding: 10px;
  background: #ccc;
  border-left: 5px solid #337ab7;
  z-index: 1000;
}
#error a {
  text-decoration: none;
}
#back-up {
  margin-left: -150px;
  margin-top: -20px;
  height: 45%;
  width: 200%;
  transform: rotate(3deg);
  background: url("../images/li.jpg") center center fixed;
  background-size: cover;
  z-index: -100;
  position: absolute;
}
#img-login {
  margin-top: 130px;
}
#sesion {
  margin-top: 1.5em;
  margin-right: 20px;
}
#head-back {
  text-align: center;
  padding-top: 10px;
  background: #fff;
  height: 100px;
}
#head-back h1 {
  font-family: Ai;
  font-size: 5vh;
}
#sesion button {
  background: #fff !important;
  padding: 5px;
}
#sesion img {
  float: left;
  width: 42px;
  height: 42px;
}
#sesion span {
  height: 27px;
  color: #000;
  margin-top: 15px;
}
#sesion label {
  margin-top: 15px;
  margin-right: 15px;
  color: #00a900;
}
#menu {
  z-index: 100000;
  background-color: #D5D5D5;
  position: absolute;
  overflow: hidden;
  height: 800%;
  width: 75px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  margin-left: -13px;
}
#menu li {
  text-decoration: none;
  list-style-type: none;
}
#menu i {
  transition: all 0.2s ease;
  font-size: 18px;
  padding: 10px;
  color: #4b676f;
  padding-left: 20px;
}
#menu i span {
  font-family: sans-serif;
  margin-left: 30px;
  text-align: center;
}
#menu li a i:hover {
  border-left: 5px solid #48EBFF;
  background: #CACFD0;
  width: 200%;
  color: #fff;
}
#menu:hover {
  width: 210px;
  z-index: 10;
}
.img-table {
  width: 80px;
}
#myTable {
  background: #8e9497;
  text-align: justify;
}
#myTable img {
  height: 70px;
}
#myTable_wrapper label {
  margin-bottom: 15px;
}
#myTable_wrapper label select {
  color: #000;
}
#myTable_wrapper label input {
  color: #ffd3ff;
  width: 500px;
  background: #3fb6ff;
  margin-right: -20px;
  border: 0px;
  border-radius: 20px;
  height: 30px;
  transition: all 0.8s ease;
}
#myTable_wrapper label input:focus {
  padding: 5px;
  border-radius: 0px;
  background: transparent;
  border: 1px solid #3fb6ff;
}
#button-add {
  margin-top: 40px;
  margin-bottom: 20px;
}
#reportes {
  color: #48EBFF;
  font-size: 55px;
}
.contenedor-chart h2 {
  color: #fff;
}
